* {
  padding: 0;
  margin: 0;
}

.todo_header {
  background-color: #222222;
  color: aliceblue;
  height: 2.8rem;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  margin-bottom: 3.5rem;
}

.todo_header div {
  font-size: 1.1rem;
  padding-left: 3rem;
  color: #7F8582;
}

.todo_section {
  width: 800px;
  margin: 0 auto 7rem;
}

.todo_title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.input_field {
  text-align: center;
  height: 2rem;
  margin-bottom: 3rem;
}

.text_input {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width: 65%;
  height: 100%;
  padding-left: .6rem;
}

.date_input{
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  height: 100%;
  padding-left: .6rem;
  margin-right: 1rem;
}
.add_button {
  background-color: #337AB7;
  color: #E7E8E8;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 3rem;
  cursor: pointer;
}

.contents {
  border: 1px solid #c3c3c3;
  padding: 1.8rem 1.8rem;
  margin-top: -1px;
}

.todo_checkbox_wrap {
  display: inline-block;
  width: 10%;
}

.todo_checkbox {
  position: relative;
  top:2px;
  cursor: pointer;
  margin-right:1rem;
}

.edit_button {
  border: none;
  background-color: #17A2B8;
  color: #E7E8E8;
  border-radius: 5px;
  cursor: pointer;
  width: 2rem;
  height:1.5rem;
  
}
.edit_ok_button{
  border: none;
  background-color: #28A745;
  color: #E7E8E8;
  border-radius: 5px;
  cursor: pointer;
  width: 2rem;
  height:1.5rem;
}
.edit_input{
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width: 90%;
  height: 1.5rem;
  padding-left: .6rem;
}

.todo_item {
  display: inline-block;
  width: 85%;
}

.trash_basket {
  height: 1.2rem;
  fill: red;
  cursor: pointer;
}